a.button,
#main-content h1,
header { font-family: sans-serif; }
/*
header { background-image: url(../images/header-bg.meets.png); }
	#main-content h1:before,
	header h2 { color: #fcd56a; }

code { background-color: #fca829; border: none; border-radius: 4px; color: #fff; }
aside a.button { background-image: url(../images/download-button.meets.png); }*/
